{% extends ('base.html.twig') %}

{% block content %}

    <div class="container">
        <div class="jumbotron">
            <div class="text-center alert alert-danger" role="alert">Vous devez attendre 6 après une attaque pour attaquer de nouveau</div>
            <p class="text-center"><a href="index.php"><button type="button" class="btn btn-primary">Home</button></a></p>
        </div>
    </div>

{% endblock %}
