{% extends ('base.html.twig') %}

{% block content %}

     <div class="container">
         <div class="jumbotron">
             <h2 class="text-center">Bienvenue dans aux combats pokemons</h2>
             <p>Connectez vous ou inscrivez vous pour combattre</p>
             <p>Crer votre pokemon pour afronter d'autres dresseurs</p>
             <p><a class="btn btn-primary btn-lg" href="#" role="button">Plus</a></p>
         </div>
     </div>

{% endblock %}
