{% extends ('base.html.twig') %}

{% block content %}

    <div class="container">
        <div class="jumbotron">
            <div class="alert alert-success" role="alert">
                <h2 class="text-center">Bien jouer !</h2>
                <p class="text-center">Votre pokemon a été résuciter. Il a de nouveau 100 HP.</p>
            </div>
        </div>
    </div>

{% endblock %}
