{% extends ('base.html.twig') %}

{% block content %}

    <div class="container">
        <div class="container">
            <div class="jumbotron">
                <h2 class="text-center">Règles des combats pokemon</h2>
                <div>
                    <p class="text-center">Rule n°1: Tuez les tous !</p>

                </div>
                <p class="text-center">Crer votre compte et partez combattre tous vos rivaux avec votre pokemon favoris  !</p>
            </div>
        </div>
    </div>

{% endblock %}
